@use '../abstracts' as *;
// --- 

.featured-products {
    flex: 1 1 100%; 
    max-width: 1450px;
}

.featured-products__heading {
    color: #000;
    margin-bottom: 30px;
    font-size: rem(32px);
    font-weight: 900;
    line-height: 37px;

    @include mq-tablet() {
        margin-bottom: 40px;
        font-size: rem(48px);
        line-height: 56px;
    }
    @include mq-desktop() {
        margin-bottom: 50px;
        font-size: rem(60px);
        line-height: 70px;
    }
}

.featured-products__items {
    display: flex;
    flex-wrap: wrap;

    @include mq-desktop() {
        flex-wrap: nowrap;
    }
}